		<div class="col footer">
			<div class="row">
					<div class="col-sm-12 motto">
							<p>"Dawaj Czaruś skończymy tę stronę i będziemy szczęśliwi..."</p>
					</div>
			</div>
			<div class="footer-copyright">
			 © 2018 Copyright:<a href="/"> EasyWords.com </a>
	 </div>
		</div>
	</div>
</div>
	</div>
	<script type="text/javascript" src="jquery.min.js"></script>
	
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<!-- <script type="text/javascript" src="sorybawiesie.js"></script> -->
	<script type="text/javascript">
		$('#rank').click(()=>{
			$('#ranking').removeClass('hidden')
			$('#statystyki').addClass('hidden')
		})
		$('#stats').click(()=>{
			$('#ranking').addClass('hidden')
			$('#statystyki').removeClass('hidden')
		})
	</script>
</body>
</html>
