		<div class="footer">Flickerman 2018 &copy</div>
	</div>
</div>
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="musi.js"></script>
</body>
</html>
