<!DOCTYPE html>
<html>
<head>
	<title>EasyWords.com</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
<div class="backg">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>EasyWords.com</h1>
			</div>
		</div>