<% include includes/header.ejs %>
		<div class="row mid">
			<div class="col-sm-12 intro">
			 	<h1>Witaj na EasyWords!</h1>
				<p>Strona umożliwia naukę jezyka (na razie)<span class="warn"> angielskiego</span>. Zapraszamy do zapoznania się z możliwościami calkowicie darmowego serwisu!</p>
				<a href="#"><i class="fas fa-angle-double-down down"></i></a>
			</div>
			<div class="row icons justify-content-between">
				<div class="col-sm-3 window">
					<i class="fas fa-book"></i>
					<h5>Utrawalaj nowe slówka</h5>
				</div>
				<div class="col-sm-3 window">
					<i class="fas fa-trophy"></i>
					<h5>Walcz o miejsce w rankingu</h5>
				</div>
				<div class="col-sm-3 window">
					<i class="fas fa-signal"></i>
					<h5>Prowadż swoje statystyki</h5>
				</div>
				</div>
				<div class="row forward">
								<p class="text-center">Zacznij już dziś!  <a href="/rejestracja"><span class="warn"> Rejestracja</span></a></p>
				</div>
			</div>
<% include includes/footerlog.ejs %>
