<!DOCTYPE html>
<html>
<head>
	<title>Logowanie</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
	<div class="container">
			<form method="post" action="/login">
				<h2>Logowanie</h2>
				<div class="col">
					<input type="text" name="login" placeholder="Login">
				</div>
				<div class="col">
					<input type="password" name="pass" placeholder="Hasło">
				</div>
				<button>Zaloguj się</button>
				<a href="/rejestracja" class="reg">Załóż konto→</a>
			</form>
	</div>

<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>
</body>
</html>