<% include includes/header.ejs %>
<!-- profil -->
<div class="row profile align-items-center justify-content-center">
		<div class="col-sm-4-flex justify-content-center colorline">
				<img src="../img/avatar.jpg" alt="avatar" class="avatar">
		</div>
		<div class="col-sm-4-flex r">
			<ul class="profile-info">
				<li>Nazwa:  <%= login%></li>
				<li>Ilość punktów:  237</li>
				<li>Pozycja w rankingu:  #1</li>
				<li>Data dołączenia: <%= data%></li>
			</ul>
		</div>
	</div>
	<!-- main -->
<div id="main" style="position: relative;">
	<button class="btnProfil" id="rank">Ranking</button>
	<button class="btnProfil" id="stats">Statystyki</button>
	<button class="btnProfil" id="quests">Pytania</button>
	<!-- pytania -->
	<div class="row mid" id="pytania">
		<div class="col-sm-12">
			<h2>Pytania</h2>
		</div>
	</div>
	<!-- end pytania -->
	<!-- statystyki -->
	<div class="row mid hidden" id="statystyki">
		<div class="col-sm-12">
			<h2>Statystyki</h2>
		</div>
	</div>
	<!-- statystyki end -->
	<!-- ranking -->
	<div class="row mid hidden" id="ranking">
	<div class="col-sm-12">
		<h2>Ranking</h2>
	<div class="table">
		<table>
			<tr>
				<td>Pozycja</td><td>Nazwa</td><td>Wynik</td>
			</tr>
			<tr>
				<td>1</td><td>Ja</td><td>Milion</td>
			</tr>
			<tr>
				<td>2</td><td>Ty</td><td>Milion-1</td>
			</tr>
			<tr>
				<td>3</td><td>Kuba</td><td>-Milion</td>
			</tr>
			<tr>
				<td>4</td><td>Krystian</td><td>Milion12</td>
			</tr>
		</table>
		</div>
	</div>
</div>
</div>
	<!-- end main -->
<% include includes/footer.ejs %>
