<% include includes/header.ejs %>
		<div class="row mid">
			<div class="col-sm-12">
			<h2>Ranking</h2>
			<div class="table">
				<table>
					<tr>
						<td>Pozycja</td><td>Nazwa</td><td>Wynik</td>
					</tr>
					<tr>
						<td>1</td><td>Ja</td><td>Milion</td>
					</tr>
				</table>
			</div>
		</div>
		</div>
<% include includes/footerlog.ejs %>
