<% include includes/header.ejs %>
		<div class="row mid align-items-center">
			<div class="col-sm-6">
			<form method="post" action="/register">
				<h2>Rejestracja</h2>
				<h5>
					<ul class="error">
						<% for(var i=0; i<err.length; i++) {%>
							<li><%= err[i] %></li>
						<% } %>
					</ul>
				</h5>
					<input type="text" name="login" placeholder="Login">
					<input type="text" name="email" placeholder="E-mail">
					<input type="password" name="pass" placeholder="Hasło">
					<input type="password" name="pass2" placeholder="Powtórz hasło">
					<button class="btn register">Zarejestruj</button>
					<a href="/login" class="reg">Zaloguj się →</a>
				
			</form>
			</div>
		<div class="col-sm-6">
			<h2>Twój pierwszy krok</h2>
			<p>Teraz tylko rejestracja dzieli Cię od możliwości przyjemnej nauki! Pierwszy krok jest zawsze najtrudniejszy, ale mamy nadzieję, że z naszą pomocą będziesz w stanie systematycznie stawiać kolejne w drodzę po swój cel!</p>
		</div>
</div>
<% include includes/footerlog.ejs %>
