<!DOCTYPE html>
<html>
<head>
	<title>Rejestracja</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Tajawal:400,700" rel="stylesheet">
	<style type="text/css">
		body{
			margin: 0px;
			padding: 0px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<form method="post" action="/register">
				<b>Twoje konto zostało pomyślnie założone.</b>
			</form>
		</div>
	</div>

<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>
</body>
</html>