/* ------------------------- */
/* Main styls */
/* ------------------------- */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	color: #eee;
	min-height: 100%;
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	background:url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
	overflow-x: hidden;
	height: 100vh;
}
.backg{
	height: 100%;
	width: 100%;
	background-color: rgba(10,10,10,0.4);
	display: inline;
}
.container{
	padding-top: 20px;
	width: 100%;
	height: 100vh;
}
.row.mid{
	text-align: center;
	min-height: 500px;
	margin-bottom: 112px;
}
p{
	line-height: 2;
	font-size: 19px;
}
.warn{
	color: #cc3300;
}
h4{
	padding: 10px;
}
.footer{
	text-align: center;
	width: 100%;
	background: rgba(10,10,10,0.5);
	padding: 20px;
	min-height: 125px;
	border-radius: 20px 20px 0 0;
	

}
.motto p{
	border-top:2px solid #348ccc;
	margin-top: 20px;
	font-style: italic;
	font-size: 18px;
}
.links ul,li{
	list-style-type: none;
	text-align: left;
	padding: 5px;
}
.links a, .footer-copyright a{
	color: #eee;
}
/* kolor mlodszego footera xD 	 */
/*kolor footera stary # 348ccc*/
/* ------------------------- */
/* Links */
/* -------------------------*/
a,
a:active{
	color: #eee;
	text-decoration: none;
	border: none;
}
a:hover{
	color: #eee;
}
/* ------------------------- */
/* Forms */
/* ------------------------- */
input,
button.register{
	height: 40px;
	width: 220px;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
}

button.register:hover,
.btn-success:hover{
	background-color: #000;
	color: #eee;
}
.reg{
	margin: 10px 0;
	display: block;
}
.btn-success{
	padding: 5px;
	color: #111;
	display: inline-block;
	margin: 10px;
	border: none;
}
.col.buttons{
	text-align: right;
}
button.register,
.btn-success{
	background-color: #57b846;
	border: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}
.btn-success{
	border-radius: 5px;
	padding: 5px 10px;
}
/* ------------------------- */
/* Profile styling */
/* ------------------------- */
.btnProfil{
	position: absolute;
	right: 20px;
	top: 5px;
}
.btnProfil:nth-child(1){
	right: 140px;
}
.hidden{
	position: fixed;
	visibility: hidden;
	left: 19182000px;
}
.profile,
.stats{
	background: rgba(0, 0, 0, 0.5);
	min-height: 220px;
	border-radius: 20px;
	margin: 20px 0;
}
.avatar{
	display: block;
	margin-left: auto;
	width: 180px;
	height: 180px;
	border-radius: 20px;
}
.colorline{
	border-right: 2px solid #348ccc;
	padding: 0 40px;
	text-align: center;
}
.profile-info{
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	margin-left: 20px;
	display: block;
}
.profile-info li{
	padding: 5px;
}
.stats{
	min-height: 500px;
}
@media only screen and (max-width: 490px) {
	.colorline{
		border-right: none;
		border-bottom: 	2px solid #348ccc;
		}
		.avatar{
			margin: 20px 0;
		}
}
/* ------------------------- */
/* Register */
/* ------------------------- */
.mid{
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin: 20px 0;
	border-radius: 20px;
	min-height: 500px;
}
/* -------------------------  */
/* main page */
/* -------------------------  */
.intro{
	padding-bottom: 0px;
	margin-bottom: : 0px;
}
.icons{
	text-align: center;
	margin: auto;
	padding-top: 0px;
	margin-top: : 0px;
}
.window{
		background: green;
		padding: 20px 5px;
		margin: 10px;
		border-radius: 5px;
}
.window:hover{
	background: #004c00;
}
.forward{
	margin: auto;
}
/* -------------------------  */
/* Ranking */
/* -------------------------  */
h2{
	padding: 0px 10px;
	text-align: left;
}
table{
	width: 100%;
}
.table td, .table th{
	border-top: 2px solid green;
}
/* -------------------------  */
/* Awesome! */
/* -------------------------  */
@keyframes flickerDown {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}@-o-keyframes flickerDown{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerDown{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerDown{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.down{
	font-size: 60px;
	animation: flickerDown 1.5s infinite;
}
.window >.fas{
	font-size: 40px;
	padding-bottom: 15px;
}
