/* ------------------------- */
				/* Main styls */
/* ------------------------- */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	color: #eee;
	height: 100%;
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	background:url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}
.backg{
	height: 100%;
	width: 100vw;
	background-color: rgba(10,10,10,0.4);
}
.container{
	padding-top: 20px;
	width: 100%;
	height: 100%;
}
.row.mid{
	margin-top: 100px;
	text-align: center;
}
p{
	line-height: 2;
	font-size: 19px;
}
.footer{
	position: absolute;
	left:0;
	bottom: 0;
	text-align: center;
	width: 100%;
	background: linear-gradient(rgba(3,72,204,0), rgba(3,72,204,0.5));
	padding: 20px;
}
/*kolor footera stary # 348ccc*/
/* ------------------------- */
					/* Links */
/* -------------------------*/
a,
a:active{
	color: #111;
	text-decoration: none;
	border: none;
}
a:hover{
	color: #eee;
}
/* ------------------------- */
					/* Forms */
/* ------------------------- */
input,
button.register{
	height: 40px;
	width: 220px;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
}

button.register:hover,
.btn-success:hover{
	background-color: #000;
	color: #eee;
}
.reg{
	margin: 10px 0;
	display: block;
}
.btn-success{
	padding: 5px;
	color: #111;
	display: inline-block;
	margin: 10px;
	border: none;
}
.col.buttons{
	text-align: right;
}
button.register,
.btn-success{
	background-color: #57b846;
	border: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}
.btn-success{
	border-radius: 5px;
	padding: 5px 10px;
}
