/* ------------------------- */
				/* Main styls */
/* ------------------------- */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	color: #eee;
	height: 100%;
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	background:url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}
.backg{
	height: 100%;
	width: 100vw;
	background-color: rgba(10,10,10,0.4);
}
.container{
	padding-top: 20px;
	width: 100%;
	height: 100%;
}
.row.mid{
	margin-top: 100px;
	text-align: center;
}
p{
	line-height: 2;
	font-size: 19px;
}
h4{
	padding: 10px;
}
.footer{
	position: absolute;
	left:0;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: #348ccc;
	padding: 20px;
}
/* ------------------------- */
					/* Links */
/* -------------------------*/
a,
a:active{
	color: #111;
	text-decoration: none;
	border: none;
}
a:hover{
	color: #eee;
}
/* ------------------------- */
					/* Forms */
/* ------------------------- */
input,
button.register{
	height: 40px;
	width: 220px;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
}

button.register:hover,
.btn-success:hover{
	background-color: #000;
	color: #eee;
}
.reg{
	margin: 10px 0;
	display: block;
}
.btn-success{
	padding: 5px;
	color: #111;
	display: inline-block;
	margin: 10px;
	border: none;
}
.col.buttons{
	text-align: right;
}
button.register,
.btn-success{
	background-color: #57b846;
	border: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}
.btn-success{
	border-radius: 5px;
	padding: 5px 10px;
}
/* ------------------------- */
			/* Home styling */
/* ------------------------- */
.profile,
.stats{
	background: rgba(0, 0, 0, 0.5);
	min-height: 220px;
	border-radius: 20px;
	margin: 20px 0;
}
.avatar{
	display: block;
	margin-left: auto;
	width: 180px;
	height: 180px;
	border-radius: 20px;
}
.colorline{
	border-right: 2px solid #348ccc;
	padding: 0 40px;
	text-align: center;
}
.profile-info{
	list-style-type: none;
}
.profile-info li{
	padding: 5px;
}
